<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBK-4Hl-WmLcJuLf3b8ioUVDF0OAW3HnrY</string>
	<key>GCM_SENDER_ID</key>
	<string>473187107248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fadyfawzy.notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fady-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>fady-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473187107248:ios:78b91d03bb34f712c61675</string>
</dict>
</plist>